<button [routerLink]="['/page-two']" routerLinkActive="active">Next Page</button>

<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Country Name</th>
            <th scope="col">Capital</th>
            <th scope="col">Region</th>
            <th scope="col">subregion</th>
            <th scope="col">population</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let x of countryData ; let i=index;" >
            <th scope="row">{{i+1}}</th>
            <td>{{x.name}}</td>
            <td>{{x.capital}}</td>
            <td>{{x.region}}</td>
            <td>{{x.subregion}}</td>
            <td>{{x.population}}</td>
          </tr>
        </tbody>
      </table>
  
</div>
  
  